<ion-header [translucent]="true">
    <ion-toolbar class="my_header">
        <ion-title>
            Inicio de sesión
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center" size="10" sizeMd="4" offset="1" offsetMd="4">
                <ion-img class="my_logo" src="../assets/logo1.png"></ion-img>

                <form #form="ngForm" (ngSubmit)="login(form)">
                    <ion-item class="my_input">
                        <ion-input mask="(000) 000-0000" type="tel" maxlength="14" [(ngModel)]="loginVar.phone" name="phone" required>
                            <ion-label>Telefono:</ion-label>
                        </ion-input>
                    </ion-item>
                    <ion-button type="submit" class="my_button">INGRESAR</ion-button>
                    <p>
                        <a class="my_link" href='/registro'>¿No tienes cuenta? Regístrate.</a>
                    </p>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-text-center ion-padding-bottom">
    <p class="my_copy">Todos los derechos reservados, </p>
    <p class="my_copy">© Emsitel 2020</p>
</ion-footer>