<ion-tabs id="tabs">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab3">
            <ion-icon name="alarm"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="keypad"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="contactos">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
            <ion-img class="ico" src="../assets/logo1.png"></ion-img>
        </ion-tab-button>
    </ion-tab-bar>


</ion-tabs>