<ion-content class="bg" [fullscreen]="true">

    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center" size="10" offset="1">

                <p>Llamando...</p>
                <h1>Robayo</h1>
                <p>Móvil 315 3989574</p>

                <ion-avatar>
                    <ion-img src="../assets/no_image_user.png"></ion-img>
                </ion-avatar>

                <ion-row class="ion-margin-top ion-padding-top">
                    <ion-col size="4">
                        <ion-icon name="add"></ion-icon>
                        Añadir llamada
                    </ion-col>

                    <ion-col size="4">
                        <ion-icon name="pause"></ion-icon>
                        Poner llamada en espera
                    </ion-col>

                    <ion-col size="4">
                        <ion-icon name="bluetooth"></ion-icon>
                        Bluetooth
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <ion-icon name="volume-high"></ion-icon>
                        Altavoz
                    </ion-col>

                    <ion-col size="4">
                        <ion-icon name="mic-off"></ion-icon>
                        Silencio
                    </ion-col>

                    <ion-col size="4">
                        <ion-icon name="keypad"></ion-icon>
                        Teclado
                    </ion-col>
                </ion-row>

                <ion-row class="ion-margin-top ion-padding-top">
                    <ion-col size="4" offset="4">
                        <ion-button id="call_button">
                            <ion-icon name="call"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>